button.search {
    background-color: transparent;
    border: transparent;
    margin-top: 15px;
}

button.search:hover {
    color: #4db6ac;
}

input.search-bar{
    max-width: 75%;
}

input.mobile-search-bar {
    color:black;
}

label.mid-height {
    line-height: 50px;
}

div.input-field {
  position: relative;
}

div.search-bar-mobile {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #D3D3D3;
    margin-bottom: 15px;
}

div.mobile-separator {
    margin-top: 15px;
    width: 90%;
}

div.search-results {
  position: absolute;
  left: 0;
  top: 62px;
  width: 100%;
  background-color: #6a1b9a;
  border: 1px solid #4a148c;
  z-index: 10;
}

div.search-results li {
  float: none;
}

li.more-results-text {
  padding: 0 44px 0 44px;
  font-size: 11px;
  line-height: 35px;
  color: #b4a1cc;
}
